.btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin: 10px 2px;
    padding: 8px 5px;
    color: white;
    background-color: blueviolet;
}

.panel {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 16px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel h1 {
    margin: auto;
    text-align: center;
}

.post-panel {
    padding: 10px;
    margin: 8px auto;
    border-radius: 8px;
    background-color: darkseagreen;
}

.post-panel .post-title {
    font-size: 16px;
    font-weight: 600;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}

p.post-body {
    font-style: italic;
    color: purple;
}


